* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1a1a2e;
  background: url("https://img.freepik.com/foto-gratis/saat-matahari-terbenam-di-pantai-tropis-dan-laut-dengan-pohon-kelapa_74190-1075.jpg?semt=ais_hybrid&w=740&q=80")
    no-repeat center center/cover;
}

.container {
  width: 90%;
  max-width: 1000px;
  height: 600px;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  z-index: 10;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-box {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.glass-form {
  width: 350px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
}

.glass-form h2 {
  font-size: 28px;
  margin-bottom: 0px;
}

.subtitle {
  font-size: 13px;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.7);
}

.subtitle a {
  color: #4a90e2;
  text-decoration: none;
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: #ffffff;
  padding: 8px 0;
  outline: none;
}

.signup-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #4a90e2;
  color: #ffffff;
}

.signup-btn:hover {
  background: #357abd;
}

.divider {
  margin: 20px 0;
  position: relative;
  border-top: 1px solid rba(255, 255, 255, 0.2);
}

.divider span {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  padding: 0 10px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons a {
  color: #ffffff;
  font-size: 20px;
  margin-top: 10px;
}
